<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>aes</string>
			<key>Key</key>
			<string>defaultAlgorithm</string>
			<key>Title</key>
			<string>Algorithm</string>
			<key>Titles</key>
			<array>
				<string>AES</string>
				<string>Blowfish</string>
				<string>Cast</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>aes</string>
				<string>blowfish</string>
				<string>cast</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>AlarmEMail</string>
			<key>Key</key>
			<string>alarmEMail</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Security</string>
	<key>Title</key>
	<string>Security</string>
</dict>
</plist>
